<!DOCTYPE html>
<html>
<head>
	<title>Image Upload</title>
</head>
<body>
<div id="content">
<form method="post" action="index.php" enctype="multipart/form-data">
	<input type="hidden" name="size" value="1000000">
	<div>
		<input type="file" name="image">
	</div>
	<div>
		<textarea name="" cols="40" rows="7" placeholder="Say something about this image. . ."></textarea>
	</div>
	<div>
		<input type="submit" name="Upload" value="Upload Image">
	</div>
<p>Directory access is forbidden.</p>

</body>
</html>
